{% extends "base.html" %}
{% load static %}
{% block title %}Detalles de la Reserva{% endblock %}
{% block content %}
    <div class="container-fluid content">
        <div class="row m-3">

            <div class="col-12 col-md-6 my-3">
                <h2>Número de Reserva: {{ room_reservation.reservation_number }}</h2>
                <h3>Detalles de la Reserva de Habitación</h3>
                <p><strong>Cliente:</strong> {{ room_reservation.guests_name }} {{ room_reservation.guests_surname }}
                </p>
                <p><strong>Correo Electrónico:</strong> {{ room_reservation.guests_email }}</p>
                <p><strong>Teléfono:</strong> {{ room_reservation.guests_phone }}</p>
                <p><strong>Check-in:</strong> {{ room_reservation.guest_checkin }}</p>
                <p><strong>Check-out:</strong> {{ room_reservation.guest_checkout }}</p>
                <p><strong>Hora de Check-in:</strong> {{ room_reservation.guest_checkin_hour }}</p>
                <p><strong>Hora de Check-out:</strong> {{ room_reservation.guest_checkout_hour }}</p>
                <p><strong>Número de Huéspedes:</strong> {{ room_reservation.guests_number }}</p>
                <p><strong>Precio:</strong> {{ room_reservation.price }}</p>
                <p><strong>Habitación Pagada:</strong> {{ room_reservation.room_is_payed }}</p>
                {% if restaurant_reservations %}
                <h3>Reservas de Restaurante Asociadas</h3>
                <ul>
                    {% for restaurant_reservation in restaurant_reservations %}
                        <li>
                            <p><strong>Fecha de Reserva:</strong> {{ restaurant_reservation.date_entrance }}</p>
                            <p><strong>Precio:</strong> {{ restaurant_reservation.order_num.total }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <h2 class="my-3">Factura y Reservas relacionadas</h2>

                <embed src="{% url 'generate_room_invoice_for_preview' %}?uuid={{ room_reservation.reservation_number }}"
                       class="w-100 h-100">

            </div>
        </div>
    </div>
{% endblock %}
