{% extends "base.html" %}
{% load static %}
{% block title %} Promociones del Hotel {% endblock %}
{% block content %}
    <h1 class="mx-3 my-3">Lista de Promociones del Hotel</h1>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col">
                <a href="{% url 'create_offer' %}" class="btn btn-primary">Crear Oferta</a>
            </div>
        </div>
    </div>
    </div>
    <div class="promotions-list mt-3">
        <div class="container-fluid">
            <table class="table table-striped table-dark col-sm-11">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Código de Descuento</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for oferta in ofertas %}
                    <tr>
                        <td>{{ oferta.title }}</td>
                        <td>{{ oferta.description }}</td>
                        <td>{{ oferta.discount_code.discount_code }}</td>
                        <td class="d-none d-md-table-cell">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#Pop-up-{{ oferta.id }}">Ver Detalles
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal-{{ oferta.id }}">Borrar
                            </button>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#Pop-up-edit-{{ oferta.id }}">Editar Oferta
                            </button>
                        </td>
                        <td class="d-md-none" colspan="3">
                            <div class="dropdown w-100">
                                <button class="btn btn-secondary dropdown-toggle w-100" type="button"
                                        id="dropdownMenuButton-{{ oferta.id }}" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Mostrar acciones
                                </button>
                                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton-{{ oferta.id }}">
                                    <li>
                                        <button class="dropdown-item text-success" type="button" data-bs-toggle="modal"
                                                data-bs-target="#Pop-up-{{ oferta.id }}">Ver Detalles
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item text-danger" type="button" data-bs-toggle="modal"
                                                data-bs-target="#deleteModal-{{ oferta.id }}">Borrar
                                        </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item text-success" type="button" data-bs-toggle="modal"
                                                data-bs-target="#Pop-up-edit-{{ oferta.id }}">Editar Oferta
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                    <!-- Modal de detalles -->
                    <div class="modal fade" id="Pop-up-{{ oferta.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Detalles de la Promoción Nº{{ oferta.id }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Título:</strong> {{ oferta.title }}</p>
                                    <p><strong>Descripción:</strong> {{ oferta.description }}</p>
                                    <p><strong>Código de Descuento:</strong> {{ oferta.discount_code.discount_code }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal de confirmación de borrado -->
                    <div class="modal fade" id="deleteModal-{{ oferta.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Borrado</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Estás seguro de que deseas borrar la oferta <strong>{{ oferta.title }}</strong>?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                    </button>
                                    <form method="post" action="{% url 'delete_offer' oferta.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Borrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modales de editar oferta-->
                    <div class="modal fade" id="Pop-up-edit-{{ oferta.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        Editar oferta Nº{{ oferta.id }}
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <form action="{% url 'edit_offer' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="modal-body d-flex row ">
                                        <input type="hidden" name="id" value="{{ oferta.pk }}">
                                        <div class="col-12">
                                            <p><strong>Imagen:</strong></p>
                                            <div class="input-group mb-3">
                                                <input type="file" class="form-control" id="image"
                                                       value=" {% static oferta.image %} " name="image">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="col-12">
                                                <p><strong>Titulo:</strong></p>
                                                <input type="text" class="form-control" id="title"
                                                       value="{{ oferta.title }}" name="title">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="col-12">
                                                <p><strong>Descripcion:</strong></p>
                                                <input type="text" class="form-control" id="description"
                                                       value="{{ oferta.description }}" name="description">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if not ofertas %}
        <p class="mx-3 my-3"><strong>No hay ofertas disponibles</strong></p>
    {% endif %}
{% endblock %}
