{% extends "base.html" %}
{% load static %}
{% block title %} Reservar {% endblock %}
{% block content %}
<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-3 mx-md-4">
                                <div>
                                    <a href="{% url 'rooms_view' %}" class="btn btn-secondary"
                                       style="text-decoration: none">
                                        <i class="bi bi-arrow-left"></i> Volver
                                    </a>
                                </div>
                                <div class="text-center">
                                    <img src="{% static 'img/Logo.png' %}" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Reservar</h4>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="mb-3 mx-4 form-floating">
                                        <input type="text" name="reservation_number" class="form-control"
                                               id="reservation_number" placeholder="Número de Reserva" required>
                                        <label for="reservation_number">Número de Reserva</label>
                                    </div>
                                    <div class="mb-3 mx-4 form-floating">
                                        <input type="text" name="DNI" class="form-control" id="DNI" placeholder="DNI"
                                               required>
                                        <label for="DNI">DNI</label>
                                    </div>
                                    <div class="mb-4 mx-4 form-floating">
                                        <input type="text" name="guests_name" class="form-control" id="guests_name"
                                               placeholder="Nombre" required>
                                        <label for="guests_name">Nombre</label>
                                    </div>
                                    <div class="mb-4 mx-4 form-floating">
                                        <input type="text" name="guests_surname" class="form-control"
                                               id="guests_surname" placeholder="Apellidos" required>
                                        <label for="guests_surname">Apellidos</label>
                                    </div>
                                    <div class="mb-4 mx-4 form-floating">
                                        <input type="email" name="guests_email" class="form-control" id="guests_email"
                                               placeholder="Correo Electrónico" required>
                                        <label for="guests_email">Correo Electrónico</label>
                                    </div>
                                    <div class="mb-4 mx-4 form-floating">
                                        <input type="text" name="guests_phone" class="form-control" id="guests_phone"
                                               placeholder="Teléfono" required>
                                        <label for="guests_phone">Teléfono</label>
                                    </div>
                                    <div class="mb-4 mx-4 form-floating">
                                        <input type="date" name="guest_checkin" class="form-control" id="guest_checkin"
                                               placeholder="Fecha de Entrada">
                                        <label for="guest_checkin">Fecha de Entrada</label>
                                    </div>
                                    <div class="mb-4 mx-4 form-floating">
                                        <input type="date" name="guest_checkout" class="form-control"
                                               id="guest_checkout" placeholder="Fecha de Salida">
                                        <label for="guest_checkout">Fecha de Salida</label>
                                    </div>
                                    <div class="mb-4 mx-4 form-check">
                                        <input type="checkbox" name="guest_is_here" class="form-check-input"
                                               id="guest_is_here">
                                        <label class="form-check-label" for="guest_is_here">¿El huésped está
                                            aquí?</label>
                                    </div>
                                    <div class="mb-4 mx-4 form-floating">
                                        <input type="number" name="guests_number" class="form-control"
                                               id="guests_number" placeholder="Número de Huéspedes" required>
                                        <label for="guests_number">Número de Huéspedes</label>
                                    </div>
                                    <div class="mb-4 mx-4 form-floating">
                                        <input type="text" name="price" class="form-control" id="price"
                                               placeholder="Precio" required>
                                        <label for="price">Precio</label>
                                    </div>
                                    <div class="mb-4 mx-4">
                                        <label for="room_number">Número de Habitación</label>
                                        <select name="room_number" id="room_number" class="form-control">
                                            {% for room in rooms %}
                                            <option value="{{ room.pk }}">{{ room.room_number }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-4 mx-4 form-check">
                                        <input type="checkbox" name="room_is_payed" class="form-check-input"
                                               id="room_is_payed">
                                        <label class="form-check-label" for="room_is_payed">¿La habitación está
                                            pagada?</label>
                                    </div>
                                    <div class="text-center mx-4 mt-2 mb-5 pb-1">
                                        <button class="mx-auto login_button" type="submit">Reservar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center d-none d-lg-block">
                            <div class="text-black px-3 py-4 p-md-5 h-100"
                                 style="background-image: url({% static 'img/add_guest.jpg' %});background-repeat: no-repeat;background-size: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
