{% extends "base.html" %}
{% load static %}
{% block title %} Contacto {% endblock %}
{% block content %}

<header class="bg-white text-dark full-width">
    <div class="container text-center">
        <p class="text-dark h1 main-text-over-img mt-3">Contacto</p>
    </div>
</header>

<div class="container-fluid py-4 full-width">
    <div class="row full-height">
        <div class="col-md-6">
            <div class="card bg-light mb-4 full-height">
                <div class="card-header">
                    <h2>Preguntas Frecuentes (FAQ)</h2>
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionFAQ">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h3 class="mb-0">
                                    <span class="btn"  data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                        ¿A partir de qué hora puedo tomar posesión de mi habitación?
                                    </span>
                                </h3>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionFAQ">
                                <div class="card-body">
                                    Su habitación estará disponibles a partir de las 15:00.
                                    En el caso de que llegue por la mañana, puede dejar sus maletas en el hotel de
                                    manera gratuita hasta que la habitación esté lista.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h3 class="mb-0">
                                    <span class="btn" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                        ¿Se puede fumar en las habitaciones?
                                    </span>
                                </h3>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#accordionFAQ">
                                <div class="card-body">
                                    No. Todas las habitaciones cuentan con un detector de humo muy sensible y está
                                    prohibido fumar en las habitaciones y todo el hotel.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h3 class="mb-0">
                                    <span class="btn"  data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="true"
                                            aria-controls="collapseThree">
                                        ¿Hay acceso Wi-Fi en el hotel? ¿Es gratuito?
                                    </span>
                                </h3>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordionFAQ">
                                <div class="card-body">
                                    Sí. Hay acceso a Internet inalámbrico (Wi-Fi) de banda ancha en todo el hotel.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h3 class="mb-0">
                                    <span class="btn" data-toggle="collapse" data-target="#collapseFour"
                                            aria-expanded="true" aria-controls="collapseFour">
                                        ¿A qué hora tengo que dejar la habitación?
                                    </span>
                                </h3>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                 data-parent="#accordionFAQ">
                                <div class="card-body">
                                    El día de su partida, podrá disponer de su habitación hasta el mediodía.
                                    Si desea aprovechar al máximo sus últimas horas en la zona, podemos guardarle su
                                    equipaje en nuestro cuarto de equipaje de manera gratuita.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h3 class="mb-0">
                                    <span class="btn"  data-toggle="collapse" data-target="#collapseFive"
                                            aria-expanded="true" aria-controls="collapseFive">
                                        ¿Hay parking en el hotel?
                                    </span>
                                </h3>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                 data-parent="#accordionFAQ">
                                <div class="card-body">
                                    No, pero hay bastantes parkings públicos a menos de 5 minutos a pie del hotel.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h3 class="mb-0">
                                    <span class="btn"  data-toggle="collapse" data-target="#collapseSix"
                                            aria-expanded="true" aria-controls="collapseSix">
                                        Vamos a viajar en avión. ¿Cuentan con servicio de traslado desde el aeropuerto?
                                    </span>
                                </h3>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                 data-parent="#accordionFAQ">
                                <div class="card-body">
                                    Estamos trabajando en ello, pero por el momento no disponemos de tal servicio.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h3 class="mb-0">
                                    <span class="btn"  data-toggle="collapse"
                                            data-target="#collapseSeven" aria-expanded="true"
                                            aria-controls="collapseSeven">
                                        ¿Aceptan animales?
                                    </span>
                                </h3>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                 data-parent="#accordionFAQ">
                                <div class="card-body">
                                    No, no se permiten ningun tipo de animales.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light mb-4 full-height">
                <div class="card-header">
                    <h2>Ubicación del Hotel</h2>
                </div>
                <div class="card-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29590775.569073685!2d16.093712300000007!3d25.130442599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f153e3609c979%3A0x5945a418a804ac5!2sHotel%20Atlantis!5e0!3m2!1ses!2ses!4v1712172450619!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"                                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-11">
    <div class="row">
        <div class="card bg-light mb-0">
            <div class="card-header">
                <h2>Información de Contacto</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p><strong>Teléfono:</strong> +31 123 456 789</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p><strong>Correo Electrónico:</strong> infolaspalmeras@gmail.com</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p><strong>Ubicación:</strong> Av. Del Escortxador 8</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
    $(document).ready(function() {
        $('.card').click(function() {
            var $collapse = $(this).find('.collapse');
            if ($collapse.hasClass('show')) {
                $collapse.collapse('hide');
            } else {
                $('.collapse.show').collapse('hide');
                $collapse.collapse('show');
            }
        });
        $('.card .card-body').click(function(event) {
            event.stopPropagation();
        });
    });
</script>

{% endblock %}

