.page-title {
    font-family: Georgia, serif !important;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    /* Add your background pattern here */
    background-color: #eee;
    background-image: radial-gradient(rgba(155, 155, 155, 0.18) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

.login_button {
    width: fit-content;
    display: flex;
    padding: 0.6em 1.6rem;
    cursor: pointer;
    gap: 0.4rem;
    font-weight: bold;
    border-radius: 10px;
    text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
    background: linear-gradient(15deg, #427FE3, #0994B9, #09B6BF, #8FCBC0, #EBD19E) no-repeat;
    background-size: 300%;
    color: #fff;
    border: none;
    background-position: left center;
    box-shadow: 0 30px 10px -20px rgba(0, 0, 0, .2);
    transition: background .3s ease;
}

.login_button:hover {
    background-size: 320%;
    background-position: right center;
}

.login_button:hover svg {
    fill: #fff;
}

.login_button svg {
    width: 23px;
    fill: #f09f33;
    transition: .3s ease;
}


.room-button {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: #4B4C4C;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}

.room-button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid #4B4C4C;
}

.room-button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

.room-button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #4B4C4C;
}

.room-button:hover {
    color: white;
}

.room-button:active span::before {
    background: #3c3d3d;
}

.room-image-container {
    max-height: 500px; /* Establece la altura máxima deseada */
    overflow: hidden; /* Oculta el contenido que excede el tamaño del contenedor */
    position: relative;
}

.room-image-container img {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    position: absolute; /* Establece la posición absoluta para la imagen */
    top: 50%; /* Coloca el borde superior de la imagen en el 50% de la altura del contenedor */
    left: 0; /* Alinea la imagen a la izquierda del contenedor */
    transform: translateY(-50%);
}

.room-bg {
    background-size: cover;
    background-position: center;
    filter: opacity(1.5);
    -webkit-filter: opacity(1.5);
    -moz-filter: opacity(1.5);
}

.endark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.endark-promo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.endark-promo h5 {
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10;
}

.endark p {
    font-size: 4rem

}

.dropdown-item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.home-title {
    font: 500 4rem/5rem 'Spectral', serif
}

.custom_font {
    font-family: 'Spectral', serif
}

.main-text-over-img {
    font: 6rem/7.2rem 'Spectral', serif
}

.home-image-container {

    height: 200px;
    overflow: hidden;
    position: relative;
}

.home-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.home-image:hover {
    transform: translateX(-50%) scale(1.2);
}

.home-card-title {
    font: 2rem/2.6rem 'Spectral', serif;
}

.home-card-content {
    font: 400 1.3em/2.4rem 'Barlow', sans-serif;
    line-height: 1.1;
}

/* Estilo para el modal */
.modal_filter {
    display: none; /* Por defecto, el modal estará oculto */
    position: fixed; /* Posicionamiento fijo */
    top: 50%; /* Ajusta la posición vertical según sea necesario */
    left: 50%; /* Ajusta la posición horizontal según sea necesario */
    transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
    width: 80%; /* Ancho del modal */
    max-width: 500px; /* Ancho máximo del modal */
    z-index: 1050; /* Asegura que el modal esté encima del resto del contenido */
    background-color: rgb(255, 255, 255); /* Fondo semi-transparente para el modal */
    border-radius: 10px; /* Borde redondeado */
}

/* Estilo para el contenido del modal */
.modal_content_filter {
    background-color: #fefefe; /* Color de fondo del modal */
    padding: 20px; /* Espaciado interno */
    border: none; /* Sin borde */
}

/* Estilo para el botón de cerrar */
.close_filter {
    color: black; /* Color del botón de cerrar */
    position: absolute; /* Posicionamiento absoluto */
    top: 10px; /* Ajusta la posición vertical según sea necesario */
    right: 10px; /* Ajusta la posición horizontal según sea necesario */
    font-size: 30px; /* Tamaño de la fuente del botón */
    font-weight: bold; /* Peso de la fuente */
    cursor: pointer; /* Cursor al pasar sobre el botón */
}

.close_filter:hover {
    color: #aaa; /* Cambio de color al pasar el ratón sobre el botón */
    text-decoration: none; /* Sin subrayado */
}

.no-blue:active {
    background-color: transparent !important;
}

.number-input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    overflow: hidden;
    padding: 5px;
}

.number-input-group button {
    min-width: 40px;
    border: none;
    background-color: #6c757d;
    color: #fff;
}

.number-input-group input {
    border: none;
    width: 100px;
    text-align: center;
}

