{% extends "base.html" %}
{% block title %}Órdenes sin Reserva{% endblock %}

{% block content %}
    <h1 class="mt-3 mx-3">Órdenes sin Reserva</h1>
    <div class="reservations-list mt-3">
        <div class="container-fluid mb-3">
            <a href="{% url 'order_detail' %}">
                <button class="btn btn-primary rounded mb-3">
                    Añadir Orden
                </button>
            </a>
            <table class="table table-striped table-dark col-sm-11">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID de Orden</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Precio Total</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders_without_reservation %}
                    <tr>
                        <th>{{ order.id }}</th>
                        <td>{{ order.date }}</td>
                        <td>{{ order.total }}</td>
                        <td>
                            <a href="{% url "modify_order" order_id=order.id %}">
                                <button class="btn btn-primary rounded">
                                    Modificar Orden
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


