{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">-->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="">

<!-- Inicio del menu -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- icono o nombre -->

        <a class="navbar-brand" href="#">
            <span class="text-warning">hotel</span>
        </a>

        <!-- boton del menu -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- elementos del menu colapsable -->

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Que hacer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reservar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Restaurante</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarRecepcio" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Recepcion
                    </a>
                    <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarRecepcio">
                        <li><a class="dropdown-item" href="#">Turno</a></li>
                        <li><a class="dropdown-item" href="#">Reserves</a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarRecepcio" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Limpieza
                    </a>
                    <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarRecepcio">
                        <li><a class="dropdown-item" href="#">Turno</a></li>
                        <li><a class="dropdown-item" href="#">Habitaciones pendientes</a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarRecepcio" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Camarero
                    </a>
                    <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarRecepcio">
                        <li><a class="dropdown-item" href="#">Turno</a></li>
                        <li><a class="dropdown-item" href="#">Reservas</a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarRecepcio" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Contable
                    </a>
                    <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarRecepcio">
                        <li><a class="dropdown-item" href="#">Turno</a></li>
                        <li><a class="dropdown-item" href="#">Facturacion</a>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarRecepcio" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Administrativo
                    </a>
                    <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarRecepcio">
                        <li><a class="dropdown-item" href="#">Turno</a></li>
                        <li><a class="dropdown-item" href="#">Gestion de turnos</a>
                    </ul>
                </li>
            </ul>

            <hr class="d-md-none text-white-50">

            <!-- enlaces redes sociales -->

            <ul class="navbar-nav  flex-row flex-wrap text-light">

                <li class="nav-item col-6 col-md-auto p-3">
                    <i class="bi bi-twitter"></i>
                    <small class="d-md-none ms-2">Twitter</small>
                </li>

                <li class="nav-item col-6 col-md-auto p-3">
                    <i class="bi bi-whatsapp"></i>
                    <small class="d-md-none ms-2">WhatsApp</small>
                </li>

                <li class="nav-item col-6 col-md-auto p-3">
                    <i class="bi bi-facebook"></i>
                    <small class="d-md-none ms-2">Facebook</small>
                </li>

            </ul>

            <!--boton Informacion -->

            <form class="d-flex">
                <button class="btn btn-outline-warning d-none d-md-inline-block " type="submit">Informacion</button>
            </form>


        </div>

    </div>
</nav>
<main class="overflow-auto">
    {% block content %} {% endblock %}
</main>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

{% include "generic/header.html" %}

</body>
</html>
